<ion-view title="{{Produkte.length}} Produkte" animation="reverse">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
   <ion-nav-buttons side="right">   <button ng-click="scanbarcode()" class="button button-clear button-icon icon-left ion-ios7-barcode-outline">
         </button> 
    <button class="button button-icon icon ion-ios7-search-strong" ng-click="showsearch()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    
         <ion-list class="list">    
		    <ion-item ng-repeat="Produkt in Produkte"  ng-click="getprodukte_bymarke({{Produkt.mpEAN}})">
	           <div class="listimagediv">
               <img class="produktlistimg" src="http://www.psicon.de/discountermarken/img/markenprodukte/{{Produkt.mpBild}}">
               </div>
              <span class="item-icon-right">
               	<h3 style="margin-right:15pt; white-space: pre-line;">{{Produkt.mpBezeichnung}}</h3>
                <p>{{Produkt.validated}} von 10 Nutzern bestätigt!</p>
                <i class="icon ion-ios7-arrow-right"></i>
              </span>
      		</ion-item>
      </ion-list>
      
   
  
   
  </ion-content>
</ion-view>
