<div class="modal">
  <ion-header-bar>
    <h1 class="title">Share the love</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeShare()">Abbrechen</button>
    </div>
  </ion-header-bar>
  <ion-content>
 <hr>
   <button class="button button-block button-stable button-icon-left ion-ios7-star" ng-click="rateapp()" data-lang="de"> Jetzt bewerten</button>
      
  <hr>
    <h3 style="margin-left:5pt;">Teilen:</h3>
          <button class="button button-block button-outline button-positive button-icon-left ion-social-facebook-outline" ng-click="shareonfb()">acebook</button>
          <a class="button button-block button-outline button-energized button-icon-left ion-ios7-email-outline" href="mailto:?subject=MarkenDetektive%20App&body=Hey%2C%0A%0Adie%20MarkenDetektive%20App%20deckt%20Marken%20hinter%20Discounterprodukten%20auf%21%20K%F6nnte%20auch%20f%FCr%20dich%20interessant%20sein.%20%0A%0ASchau%20mal%20hier%3A%20http%3A//www.psicon.de/markendetektive%0A%0AViele%20Gr%FC%DFe"> e-mail</a>
          <button class="button button-block button-outline button-calm button-icon-left ion-social-twitter-outline" ng-click="openlinkexternal('https://twitter.com/home?status=Wow!%20Die%20decken%20Markenprodukte%20bei%20Discountern%20auf!%20Schaut%20euch%20gleich%20mal%20die%20App%20MarkenDetektive%20an:%0Ahttp://www.psicon.de/markendetektive')" data-lang="de"> twittern</button>
      <hr>
  </ion-content>
</div>

